@media only screen and (max-width: 480px){
    .wave-phone{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border: 1px solid #49a0ae;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
    }
    .wave-wa{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border: 1px solid #51b255;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
    }
    @keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.8);
        opacity: 0;
    }
}
    .gis-bounce{
        animation: bounce 2s ease infinite;
    }

    @keyframes bounce {
        70% { transform:translateY(0%); }
        80% { transform:translateY(-15%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-7%); }
        99% { transform:translateY(-3%); }
        100% { transform:translateY(0); }
    }
    .hithere {
        animation: hithere 1s ease infinite;
      }
      @keyframes hithere {
        30% { transform: scale(1.2); }
        40%, 60% { transform: rotate(-20deg) scale(1.2); }
        50% { transform: rotate(20deg) scale(1.2); }
        70% { transform: rotate(0deg) scale(1.2); }
        100% { transform: scale(1); }
      }
}